<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-outsystems-linphone" version="1.0.0">
    <name>LinPhone</name>
    <description>Cordova LinPhone Plugin</description>

    <js-module src="www/linphone.js" name="linphone">
        <clobbers target="linphone" />
    </js-module>
    <hook type="before_plugin_install" src="hooks/outsystems/handle_google_services.js" />
    <hook type="after_plugin_install" src="hooks/outsystems/google_services_cleanup.js" />
    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Linphone">
                <param name="android-package" value="com.outsystems.linphone.Linphone"/>
            </feature>
        </config-file>

        <hook type="after_plugin_install" src="hooks/outsystems/android/replaceBundleId.js" />

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:exported="true" android:launchMode="singleTop" android:name="com.outsystems.linphone.CallActivity" />
            <!-- The following is mandatory to have our SDK to handle push automatically -->
            <service android:name="org.linphone.core.tools.firebase.FirebaseMessaging" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
            <!-- This is to handle the PUSH_RECEIVED broadcast emitted by our SDK upon push reception -->
            <receiver android:name="com.outsystems.linphone.pushnotifications.PushBroadcastReceiver">
                <intent-filter>
                    <action android:name="org.linphone.core.action.PUSH_RECEIVED"/>
                </intent-filter>
            </receiver>
            <!-- The following isn't mandatory but having a foreground service prevents Android to kill the app during a call -->
            <!-- You can create your own service that inherits from this class for simplicity or handle the foreground service yourself -->
            <service android:name="org.linphone.core.tools.service.CoreService" android:foregroundServiceType="phoneCall|camera|microphone" android:stopWithTask="false" />

        </config-file>


        <source-file src="src/android/PushBroadcastReceiver.java" target-dir="src/com/outsystems/linphone/pushnotifications" />
        <source-file src="src/android/Linphone.java" target-dir="src/com/outsystems/linphone" />
        <source-file src="src/android/CallActivity.java" target-dir="src/com/outsystems/linphone" />
        
        <!--Required for firebase push notifications-->
        <!--framework src="com.google.firebase:firebase-messaging:19.0.1"/-->

        <!--Adding this dependency allows the linphone-sdk to automatically handle audio focus-->
        <framework src="com.google.android.flexbox:flexbox:3.0.0"/>
        <framework src="androidx.media:media:1.2.0"/>
        <framework src="com.amitshekhar.android:android-networking:1.0.2"/>
        <framework src="src/android/dependencies.gradle" custom="true" type="gradleReference" />

        <resource-file src="src/android/layout/callscreen.xml" target="res/layout/callscreen.xml" />
        <resource-file src="src/android/layout/numpad.xml" target="res/layout/numpad.xml" />

        
        <resource-file src="src/android/color/button_background_dark.xml" target="res/color/button_background_dark.xml" />
        <resource-file src="src/android/color/call_hangup_background.xml" target="res/color/call_hangup_background.xml" />

        <resource-file src="src/android/drawable/avatar_border.xml" target="res/drawable/avatar_border.xml" />
        <resource-file src="src/android/drawable/avatar.png" target="res/drawable/avatar.png" />
        <resource-file src="src/android/drawable/call_audio_start.png" target="res/drawable/call_audio_start.png" />
        <resource-file src="src/android/drawable/call_hangup.png" target="res/drawable/call_hangup.png" />
        <resource-file src="src/android/drawable/dialer_alt_back.png" target="res/drawable/dialer_alt_back.png" />
        <resource-file src="src/android/drawable/micro_default.png" target="res/drawable/micro_default.png" />
        <resource-file src="src/android/drawable/numpad_0.png" target="res/drawable/numpad_0.png" />
        <resource-file src="src/android/drawable/numpad_1.png" target="res/drawable/numpad_1.png" />
        <resource-file src="src/android/drawable/numpad_2.png" target="res/drawable/numpad_2.png" />
        <resource-file src="src/android/drawable/numpad_3.png" target="res/drawable/numpad_3.png" />
        <resource-file src="src/android/drawable/numpad_4.png" target="res/drawable/numpad_4.png" />
        <resource-file src="src/android/drawable/numpad_5.png" target="res/drawable/numpad_5.png" />
        <resource-file src="src/android/drawable/numpad_6.png" target="res/drawable/numpad_6.png" />
        <resource-file src="src/android/drawable/numpad_7.png" target="res/drawable/numpad_7.png" />
        <resource-file src="src/android/drawable/numpad_8.png" target="res/drawable/numpad_8.png" />
        <resource-file src="src/android/drawable/numpad_9.png" target="res/drawable/numpad_9.png" />
        <resource-file src="src/android/drawable/numpad_9.png" target="res/drawable/numpad_9.png" />
        <resource-file src="src/android/drawable/footer_dialer.png" target="res/drawable/footer_dialer.png" />
        <resource-file src="src/android/drawable/numpad_star.png" target="res/drawable/numpad_star.png" />
        <resource-file src="src/android/drawable/route_speaker_default.png" target="res/drawable/route_speaker_default.png" />
        <resource-file src="src/android/drawable/call_numpad.xml" target="res/drawable/call_numpad.xml" />
        <resource-file src="src/android/drawable/generated_avatar_bg.xml" target="res/drawable/generated_avatar_bg.xml" />
        <resource-file src="src/android/drawable/micro.xml" target="res/drawable/micro.xml" />
        <resource-file src="src/android/drawable/numpad_eight.xml" target="res/drawable/numpad_eight.xml" />
        <resource-file src="src/android/drawable/numpad_five.xml" target="res/drawable/numpad_five.xml" />
        <resource-file src="src/android/drawable/numpad_four.xml" target="res/drawable/numpad_four.xml" />
        <resource-file src="src/android/drawable/numpad_hash.png" target="res/drawable/numpad_hash.png" />
        <resource-file src="src/android/drawable/numpad_nine.xml" target="res/drawable/numpad_nine.xml" />
        <resource-file src="src/android/drawable/numpad_one.xml" target="res/drawable/numpad_one.xml" />
        <resource-file src="src/android/drawable/numpad_seven.xml" target="res/drawable/numpad_seven.xml" />
        <resource-file src="src/android/drawable/numpad_sharp.xml" target="res/drawable/numpad_sharp.xml" />
        <resource-file src="src/android/drawable/numpad_six.xml" target="res/drawable/numpad_six.xml" />
        <resource-file src="src/android/drawable/numpad_star_digit.xml" target="res/drawable/numpad_star_digit.xml" />
        <resource-file src="src/android/drawable/numpad_three.xml" target="res/drawable/numpad_three.xml" />
        <resource-file src="src/android/drawable/numpad_two.xml" target="res/drawable/numpad_two.xml" />
        <resource-file src="src/android/drawable/numpad_zero.xml" target="res/drawable/numpad_zero.xml" />
        <resource-file src="src/android/drawable/speaker.xml" target="res/drawable/speaker.xml" />

        <resource-file src="src/android/drawable/call_pause.xml" target="res/drawable/call_pause.xml" />
        <resource-file src="src/android/drawable/camera.xml" target="res/drawable/camera.xml" />
        <resource-file src="src/android/drawable/camera_default.png" target="res/drawable/camera_default.png" />
        <resource-file src="src/android/drawable/custom1.png" target="res/drawable/custom1.png" />
        <resource-file src="src/android/drawable/custom2.png" target="res/drawable/custom2.png" />
        <resource-file src="src/android/drawable/pause_default.png" target="res/drawable/pause_default.png" />
        
        
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Linphone">
                <param name="ios-package" value="Linphone"/>
            </feature>
        </config-file>

        <podspec>
            <config>
                <source url="https://gitlab.linphone.org/BC/public/podspec.git" />
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="linphone-sdk" spec="~> 5.0" />
            </pods>
        </podspec>

        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>

        <preference name="APS_ENV" default="development"/>
        <config-file target="*/Entitlements-Debug.plist" parent="aps-environment">
            <string>$APS_ENV</string>
        </config-file>
        <config-file target="*/Entitlements-Release.plist" parent="aps-environment">
            <string>$APS_ENV</string>
        </config-file>

        <source-file src="src/ios/Linphone.swift" />
        <!--source-file src="src/ios/Linphone.h" />
        <source-file src="src/ios/ProviderDelegate.m" />
        <source-file src="src/ios/ProviderDelegate.h" />
        <source-file src="src/ios/CallView.xib" />
        <source-file src="src/ios/CallView.m" />
        <header-file src="src/ios/CallView.h" />
        <source-file src="src/ios/CallOutgoingView.xib" />
        <source-file src="src/ios/CallOutgoingView.m" />
        <header-file src="src/ios/CallOutgoingView.h" />
        <source-file src="src/ios/CallIncomingView.xib" />
        <source-file src="src/ios/CallIncomingView.m" />
        <header-file src="src/ios/CallIncomingView.h" />
        <source-file src="src/ios/CallManager.m" />
        <source-file src="src/ios/CallManager.h" />
        <source-file src="src/ios/AppManager.m" />
        <source-file src="src/ios/AppManager.h" /-->
    </platform>

</plugin>
