<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-outsystems-linphone" version="1.0.0">
    <name>LinPhone</name>
    <description>Cordova LinPhone Plugin</description>

    <js-module src="www/linphone.js" name="linphone">
        <clobbers target="linphone" />
    </js-module>
    <hook type="before_plugin_install" src="hooks/outsystems/handle_google_services.js" />
    <!--<hook type="after_plugin_install" src="hooks/outsystems/google_services_cleanup.js" />-->

    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Linphone">
                <param name="android-package" value="com.outsystems.linphone.Linphone"/>
            </feature>
        </config-file>

        <hook type="after_plugin_install" src="hooks/outsystems/android/replaceBundleId.js" />

        <config-file parent="/manifest/application" target="AndroidManifest.xml">
            <activity android:exported="true" android:launchMode="singleTop" android:name="com.outsystems.linphone.CallActivity" />
            <!-- The following is mandatory to have our SDK to handle push automatically -->
            <service android:name="org.linphone.core.tools.firebase.FirebaseMessaging" android:exported="false">
                <intent-filter>
                    <action android:name="com.google.firebase.MESSAGING_EVENT" />
                </intent-filter>
            </service>
            <!-- This is to handle the PUSH_RECEIVED broadcast emitted by our SDK upon push reception -->
            <receiver android:name="com.outsystems.linphone.pushnotifications.PushBroadcastReceiver">
                <intent-filter>
                    <action android:name="org.linphone.core.action.PUSH_RECEIVED"/>
                </intent-filter>
            </receiver>
            <!-- The following isn't mandatory but having a foreground service prevents Android to kill the app during a call -->
            <!-- You can create your own service that inherits from this class for simplicity or handle the foreground service yourself -->
            <service android:name="org.linphone.core.tools.service.CoreService" android:foregroundServiceType="phoneCall|camera|microphone" android:stopWithTask="false" />

        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application/activity[@android:name='MainActivity']">
            <application android:alwaysRetainTaskState="true" />
        </edit-config>

        <dependency id="cordova-custom-config" version="^5.1.0" />

        <source-file src="src/android/PushBroadcastReceiver.java" target-dir="src/com/outsystems/linphone/pushnotifications" />
        <source-file src="src/android/Linphone.java" target-dir="src/com/outsystems/linphone" />
        <source-file src="src/android/CallActivity.java" target-dir="src/com/outsystems/linphone" />
        
        
        <!--Required for firebase push notifications-->
        <framework src="com.google.firebase:firebase-messaging:19.0.1"/>

        <!--Adding this dependency allows the linphone-sdk to automatically handle audio focus-->
        <framework src="com.google.android.flexbox:flexbox:3.0.0"/>
        <framework src="androidx.media:media:1.2.0"/>
        <framework src="com.amitshekhar.android:android-networking:1.0.2"/>
        <framework src="src/android/dependencies.gradle" custom="true" type="gradleReference" />

        <resource-file src="src/android/layout/callscreen.xml" target="res/layout/callscreen.xml" />
        <resource-file src="src/android/layout/numpad.xml" target="res/layout/numpad.xml" />

        
        <resource-file src="src/android/color/button_background_dark.xml" target="res/color/button_background_dark.xml" />
        <resource-file src="src/android/color/call_hangup_background.xml" target="res/color/call_hangup_background.xml" />

        <resource-file src="src/android/drawable/avatar_border.xml" target="res/drawable/avatar_border.xml" />
        <resource-file src="src/android/drawable/avatar.png" target="res/drawable/avatar.png" />
        <resource-file src="src/android/drawable/call_audio_start.png" target="res/drawable/call_audio_start.png" />
        <resource-file src="src/android/drawable/call_hangup.png" target="res/drawable/call_hangup.png" />
        <resource-file src="src/android/drawable/dialer_alt_back.png" target="res/drawable/dialer_alt_back.png" />
        <resource-file src="src/android/drawable/micro_default.png" target="res/drawable/micro_default.png" />
        <resource-file src="src/android/drawable/numpad_0.png" target="res/drawable/numpad_0.png" />
        <resource-file src="src/android/drawable/numpad_1.png" target="res/drawable/numpad_1.png" />
        <resource-file src="src/android/drawable/numpad_2.png" target="res/drawable/numpad_2.png" />
        <resource-file src="src/android/drawable/numpad_3.png" target="res/drawable/numpad_3.png" />
        <resource-file src="src/android/drawable/numpad_4.png" target="res/drawable/numpad_4.png" />
        <resource-file src="src/android/drawable/numpad_5.png" target="res/drawable/numpad_5.png" />
        <resource-file src="src/android/drawable/numpad_6.png" target="res/drawable/numpad_6.png" />
        <resource-file src="src/android/drawable/numpad_7.png" target="res/drawable/numpad_7.png" />
        <resource-file src="src/android/drawable/numpad_8.png" target="res/drawable/numpad_8.png" />
        <resource-file src="src/android/drawable/numpad_9.png" target="res/drawable/numpad_9.png" />
        <resource-file src="src/android/drawable/numpad_9.png" target="res/drawable/numpad_9.png" />
        <resource-file src="src/android/drawable/footer_dialer.png" target="res/drawable/footer_dialer.png" />
        <resource-file src="src/android/drawable/numpad_star.png" target="res/drawable/numpad_star.png" />
        <resource-file src="src/android/drawable/route_speaker_default.png" target="res/drawable/route_speaker_default.png" />
        <resource-file src="src/android/drawable/call_numpad.xml" target="res/drawable/call_numpad.xml" />
        <resource-file src="src/android/drawable/generated_avatar_bg.xml" target="res/drawable/generated_avatar_bg.xml" />
        <resource-file src="src/android/drawable/micro.xml" target="res/drawable/micro.xml" />
        <resource-file src="src/android/drawable/numpad_eight.xml" target="res/drawable/numpad_eight.xml" />
        <resource-file src="src/android/drawable/numpad_five.xml" target="res/drawable/numpad_five.xml" />
        <resource-file src="src/android/drawable/numpad_four.xml" target="res/drawable/numpad_four.xml" />
        <resource-file src="src/android/drawable/numpad_hash.png" target="res/drawable/numpad_hash.png" />
        <resource-file src="src/android/drawable/numpad_nine.xml" target="res/drawable/numpad_nine.xml" />
        <resource-file src="src/android/drawable/numpad_one.xml" target="res/drawable/numpad_one.xml" />
        <resource-file src="src/android/drawable/numpad_seven.xml" target="res/drawable/numpad_seven.xml" />
        <resource-file src="src/android/drawable/numpad_sharp.xml" target="res/drawable/numpad_sharp.xml" />
        <resource-file src="src/android/drawable/numpad_six.xml" target="res/drawable/numpad_six.xml" />
        <resource-file src="src/android/drawable/numpad_star_digit.xml" target="res/drawable/numpad_star_digit.xml" />
        <resource-file src="src/android/drawable/numpad_three.xml" target="res/drawable/numpad_three.xml" />
        <resource-file src="src/android/drawable/numpad_two.xml" target="res/drawable/numpad_two.xml" />
        <resource-file src="src/android/drawable/numpad_zero.xml" target="res/drawable/numpad_zero.xml" />
        <resource-file src="src/android/drawable/speaker.xml" target="res/drawable/speaker.xml" />

        <resource-file src="src/android/drawable/call_pause.xml" target="res/drawable/call_pause.xml" />
        <resource-file src="src/android/drawable/camera.xml" target="res/drawable/camera.xml" />
        <resource-file src="src/android/drawable/camera_default.png" target="res/drawable/camera_default.png" />
        <resource-file src="src/android/drawable/custom1.png" target="res/drawable/custom1.png" />
        <resource-file src="src/android/drawable/custom2.png" target="res/drawable/custom2.png" />
        <resource-file src="src/android/drawable/pause_default.png" target="res/drawable/pause_default.png" />

        <resource-file src="src/android/drawable/switch_camera.xml" target="res/drawable/switch_camera.xml" />
        <resource-file src="src/android/drawable/call_audio_switch.xml" target="res/drawable/call_audio_switch.xml" />
        <resource-file src="src/android/drawable/bluetooth_audio.png" target="res/drawable/bluetooth_audio.png" />
        <resource-file src="src/android/drawable/camera_swap.png" target="res/drawable/camera_swap.png" />
        
        <resource-file src="src/android/values/colors.xml" target="res/values/colors.xml" />
        
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Linphone">
                <param name="ios-package" value="Linphone"/>
            </feature>
        </config-file>

        <podspec>
            <config>
                <source url="https://gitlab.linphone.org/BC/public/podspec.git" />
            </config>
            <pods use-frameworks="true">
                <pod name="linphone-sdk" spec="~> 5.0" />
            </pods>
        </podspec>

        <!--preference name="USESWIFTLANGUAGEVERSION" value="5" default="5"/-->
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <hook type="after_plugin_install" src="hooks/outsystems/ios/handle_swift_import.js" />

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        <config-file target="*-Debug.plist" parent="aps-environment">
            <string>development</string>
        </config-file>
        <config-file target="*-Release.plist" parent="aps-environment">
            <string>production</string>
        </config-file>
        
        
        <source-file src="src/ios/AudioHelper.h" />
        <source-file src="src/ios/AudioHelper.m" />
        <source-file src="src/ios/CAAnimation+Blocks.h" />
        <source-file src="src/ios/CAAnimation+Blocks.m" />
        <source-file src="src/ios/CallIncomingView.h" />
        <source-file src="src/ios/CallIncomingView.m" />
        <source-file src="src/ios/CallOutgoingView.h" />
        <source-file src="src/ios/CallOutgoingView.m" />
        <source-file src="src/ios/CallPausedTableView.h" />
        <source-file src="src/ios/CallPausedTableView.m" />
        <source-file src="src/ios/CallView.h" />
        <source-file src="src/ios/CallView.m" />
        <source-file src="src/ios/ColorSpaceUtilites.m" />
        <source-file src="src/ios/ColorSpaceUtilities.h" />
        <source-file src="src/ios/Contact.h" />
        <source-file src="src/ios/Contact.m" />
        <source-file src="src/ios/LinphoneManager.h" />
        <source-file src="src/ios/LinphoneManager.m" />
        <source-file src="src/ios/Log.h" />
        <source-file src="src/ios/Log.m" />
        <source-file src="src/ios/OrderedDictionary.h" />
        <source-file src="src/ios/OrderedDictionary.m" />
        <source-file src="src/ios/UIAddressTextField.h" />
        <source-file src="src/ios/UIAddressTextField.m" />
        <source-file src="src/ios/UIAvatarPresence.h" />
        <source-file src="src/ios/UIAvatarPresence.m" />
        <source-file src="src/ios/UIBackToCallButton.h" />
        <source-file src="src/ios/UIBackToCallButton.m" />
        <source-file src="src/ios/UIBluetoothButton.h" />
        <source-file src="src/ios/UIBluetoothButton.m" />
        <source-file src="src/ios/UIBouncingView.h" />
        <source-file src="src/ios/UIBouncingView.m" />
        <source-file src="src/ios/UICallButton.h" />
        <source-file src="src/ios/UICallButton.m" />
        <source-file src="src/ios/UICallConferenceCell.h" />
        <source-file src="src/ios/UICallConferenceCell.m" />
        <source-file src="src/ios/UICallPausedCell.h" />
        <source-file src="src/ios/UICallPausedCell.m" />
        <source-file src="src/ios/UICamSwitch.h" />
        <source-file src="src/ios/UICamSwitch.m" />
        <source-file src="src/ios/UIConfirmationDialog.h" />
        <source-file src="src/ios/UIConfirmationDialog.m" />
        <source-file src="src/ios/UIDigitButton.h" />
        <source-file src="src/ios/UIDigitButton.m" />
        <source-file src="src/ios/UIHangUpButton.h" />
        <source-file src="src/ios/UIHangUpButton.m" />
        <source-file src="src/ios/UIIconButton.h" />
        <source-file src="src/ios/UIIconButton.m" />
        <source-file src="src/ios/UILabel+Boldify.h" />
        <source-file src="src/ios/UILabel+Boldify.m" />
        <source-file src="src/ios/UILinphoneAudioPlayer.h" />
        <source-file src="src/ios/UILinphoneAudioPlayer.m" />
        <source-file src="src/ios/UIMutedMicroButton.h" />
        <source-file src="src/ios/UIMutedMicroButton.m" />
        <source-file src="src/ios/UIPauseButton.h" />
        <source-file src="src/ios/UIPauseButton.m" />
        <source-file src="src/ios/UIRoundBorderedButton.h" />
        <source-file src="src/ios/UIRoundBorderedButton.m" />
        <source-file src="src/ios/UIRoundedImageView.h" />
        <source-file src="src/ios/UIRoundedImageView.m" />
        <source-file src="src/ios/UISpeakerButton.h" />
        <source-file src="src/ios/UISpeakerButton.m" />
        <source-file src="src/ios/UITextField+DoneButton.h" />
        <source-file src="src/ios/UITextField+DoneButton.m" />
        <source-file src="src/ios/UIToggleButton.h" />
        <source-file src="src/ios/UIToggleButton.m" />
        <source-file src="src/ios/UIVideoButton.h" />
        <source-file src="src/ios/UIVideoButton.m" />
        <source-file src="src/ios/Utils.h" />
        <source-file src="src/ios/Utils.m" />
        <source-file src="src/ios/VideoZoomHandler.h" />
        <source-file src="src/ios/VideoZoomHandler.m" />
        <source-file src="src/ios/UIInterfaceStyleButton.h" />
        <source-file src="src/ios/UIInterfaceStyleButton.m" />
        
        <!--source-file src="src/ios/UILinphoneAudioPlayer.xib"/>
        <source-file src="src/ios/UIConfirmationDialog.xib"/>
        <source-file src="src/ios/UICallPausedCell.xib"/>
        <source-file src="src/ios/UICallConferenceCell.xib"/>
        <source-file src="src/ios/CallView.xib" />
        <source-file src="src/ios/CallIncomingView.xib" />
        <source-file src="src/ios/CallOutgoingView.xib" /-->

        <resource-file src="src/ios/UILinphoneAudioPlayer.xib" />
        <resource-file src="src/ios/UIConfirmationDialog.xib" />
        <resource-file src="src/ios/UICallPausedCell.xib" />
        <resource-file src="src/ios/UICallConferenceCell.xib" />
        <resource-file src="src/ios/CallView.xib" />
        <resource-file src="src/ios/CallIncomingView.xib" />
        <resource-file src="src/ios/CallOutgoingView.xib" />

        <source-file src="src/ios/Linphone.swift" />
        <source-file src="src/ios/ProviderDelegate.swift" />
        <source-file src="src/ios/CallManager.swift" />
        <source-file src="src/ios/AppManager.swift" />

        <source-file src="src/ios/Linphone-Bridging-Header.h" />

        <resource-file src="src/ios/images/add_field_default.png"/>
        <resource-file src="src/ios/images/add_field_default@2x.png"/>
        <resource-file src="src/ios/images/add_field_over.png"/>
        <resource-file src="src/ios/images/add_field_over@2x.png"/>
        <resource-file src="src/ios/images/avatar.png"/>
        <resource-file src="src/ios/images/avatar@2x.png"/>
        <resource-file src="src/ios/images/avatar~ipad.png"/>
        <resource-file src="src/ios/images/avatar~ipad@2x.png"/>
        <resource-file src="src/ios/images/back_default.png"/>
        <resource-file src="src/ios/images/back_default@2x.png"/>
        <resource-file src="src/ios/images/back_disabled.png"/>
        <resource-file src="src/ios/images/back_disabled@2x.png"/>
        <resource-file src="src/ios/images/backspace_default.png"/>
        <resource-file src="src/ios/images/backspace_default@2x.png"/>
        <resource-file src="src/ios/images/backspace_disabled.png"/>
        <resource-file src="src/ios/images/backspace_disabled@2x.png"/>
        <resource-file src="src/ios/images/backspace_over.png"/>
        <resource-file src="src/ios/images/backspace_over@2x.png"/>
        <resource-file src="src/ios/images/call_add_default.png"/>
        <resource-file src="src/ios/images/call_add_default@2x.png"/>
        <resource-file src="src/ios/images/call_add_disabled.png"/>
        <resource-file src="src/ios/images/call_add_disabled@2x.png"/>
        <resource-file src="src/ios/images/call_alt_back_default.png"/>
        <resource-file src="src/ios/images/call_alt_back_default@2x.png"/>
        <resource-file src="src/ios/images/call_alt_back_disabled.png"/>
        <resource-file src="src/ios/images/call_alt_back_disabled@2x.png"/>
        <resource-file src="src/ios/images/call_alt_start_default.png"/>
        <resource-file src="src/ios/images/call_alt_start_default@2x.png"/>
        <resource-file src="src/ios/images/call_alt_start_disabled.png"/>
        <resource-file src="src/ios/images/call_alt_start_disabled@2x.png"/>
        <resource-file src="src/ios/images/call_audio_start_default.png"/>
        <resource-file src="src/ios/images/call_audio_start_default@2x.png"/>
        <resource-file src="src/ios/images/call_audio_start_disabled.png"/>
        <resource-file src="src/ios/images/call_audio_start_disabled@2x.png"/>
        <resource-file src="src/ios/images/call_back_default.png"/>
        <resource-file src="src/ios/images/call_back_default@2x.png"/>
        <resource-file src="src/ios/images/call_back_disabled.png"/>
        <resource-file src="src/ios/images/call_back_disabled@2x.png"/>
        <resource-file src="src/ios/images/call_hangup_default.png"/>
        <resource-file src="src/ios/images/call_hangup_default@2x.png"/>
        <resource-file src="src/ios/images/call_hangup_disabled.png"/>
        <resource-file src="src/ios/images/call_hangup_disabled@2x.png"/>
        <resource-file src="src/ios/images/call_incoming.png"/>
        <resource-file src="src/ios/images/call_incoming@2x.png"/>
        <resource-file src="src/ios/images/call_missed.png"/>
        <resource-file src="src/ios/images/call_missed@2x.png"/>
        <resource-file src="src/ios/images/call_outgoing.png"/>
        <resource-file src="src/ios/images/call_outgoing@2x.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_0.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_0@2x.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_1.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_1@2x.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_2.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_2@2x.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_3.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_3@2x.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_4.png"/>
        <resource-file src="src/ios/images/call_quality_indicator_4@2x.png"/>
        <resource-file src="src/ios/images/call_start_body_default.png"/>
        <resource-file src="src/ios/images/call_start_body_default@2x.png"/>
        <resource-file src="src/ios/images/call_start_body_default~ipad.png"/>
        <resource-file src="src/ios/images/call_start_body_default~ipad@2x.png"/>
        <resource-file src="src/ios/images/call_start_body_disabled.png"/>
        <resource-file src="src/ios/images/call_start_body_disabled@2x.png"/>
        <resource-file src="src/ios/images/call_start_body_disabled~ipad.png"/>
        <resource-file src="src/ios/images/call_start_body_disabled~ipad@2x.png"/>
        <resource-file src="src/ios/images/call_start_body_over.png"/>
        <resource-file src="src/ios/images/call_start_body_over@2x.png"/>
        <resource-file src="src/ios/images/call_start_body_over~ipad.png"/>
        <resource-file src="src/ios/images/call_start_body_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/call_status_incoming.png"/>
        <resource-file src="src/ios/images/call_status_incoming@2x.png"/>
        <resource-file src="src/ios/images/call_status_incoming~ipad.png"/>
        <resource-file src="src/ios/images/call_status_incoming~ipad@2x.png"/>
        <resource-file src="src/ios/images/call_status_missed.png"/>
        <resource-file src="src/ios/images/call_status_missed@2x.png"/>
        <resource-file src="src/ios/images/call_status_missed~ipad.png"/>
        <resource-file src="src/ios/images/call_status_missed~ipad@2x.png"/>
        <resource-file src="src/ios/images/call_status_outgoing.png"/>
        <resource-file src="src/ios/images/call_status_outgoing@2x.png"/>
        <resource-file src="src/ios/images/call_status_outgoing~ipad.png"/>
        <resource-file src="src/ios/images/call_status_outgoing~ipad@2x.png"/>
        <resource-file src="src/ios/images/call_transfer_default.png"/>
        <resource-file src="src/ios/images/call_transfer_default@2x.png"/>
        <resource-file src="src/ios/images/call_transfer_disabled.png"/>
        <resource-file src="src/ios/images/call_transfer_disabled@2x.png"/>
        <resource-file src="src/ios/images/call_video_start_default.png"/>
        <resource-file src="src/ios/images/call_video_start_default@2x.png"/>
        <resource-file src="src/ios/images/call_video_start_disabled.png"/>
        <resource-file src="src/ios/images/call_video_start_disabled@2x.png"/>
        <resource-file src="src/ios/images/callkit_logo.png"/>
        <resource-file src="src/ios/images/callkit_logo@2x.png"/>
        <resource-file src="src/ios/images/camera_default.png"/>
        <resource-file src="src/ios/images/camera_default@2x.png"/>
        <resource-file src="src/ios/images/camera_disabled.png"/>
        <resource-file src="src/ios/images/camera_disabled@2x.png"/>
        <resource-file src="src/ios/images/camera_selected.png"/>
        <resource-file src="src/ios/images/camera_selected@2x.png"/>
        <resource-file src="src/ios/images/camera_switch_default.png"/>
        <resource-file src="src/ios/images/camera_switch_default@2x.png"/>
        <resource-file src="src/ios/images/camera_switch_disabled.png"/>
        <resource-file src="src/ios/images/camera_switch_disabled@2x.png"/>
        <resource-file src="src/ios/images/camera_switch_over.png"/>
        <resource-file src="src/ios/images/camera_switch_over@2x.png"/>
        <resource-file src="src/ios/images/cancel_edit_default.png"/>
        <resource-file src="src/ios/images/cancel_edit_default@2x.png"/>
        <resource-file src="src/ios/images/cancel_edit_disabled.png"/>
        <resource-file src="src/ios/images/cancel_edit_disabled@2x.png"/>
        <resource-file src="src/ios/images/check_selected.png"/>
        <resource-file src="src/ios/images/check_selected@2x.png"/>
        <resource-file src="src/ios/images/check_unselected.png"/>
        <resource-file src="src/ios/images/check_unselected@2x.png"/>
        <resource-file src="src/ios/images/checkbox_checked.png"/>
        <resource-file src="src/ios/images/checkbox_checked@2x.png"/>
        <resource-file src="src/ios/images/checkbox_unchecked.png"/>
        <resource-file src="src/ios/images/checkbox_unchecked@2x.png"/>
        <resource-file src="src/ios/images/chevron_list_close.png"/>
        <resource-file src="src/ios/images/chevron_list_close@2x.png"/>
        <resource-file src="src/ios/images/chevron_list_open.png"/>
        <resource-file src="src/ios/images/chevron_list_open@2x.png"/>
        <resource-file src="src/ios/images/color_A.png"/>
        <resource-file src="src/ios/images/color_C.png"/>
        <resource-file src="src/ios/images/color_D.png"/>
        <resource-file src="src/ios/images/color_E.png"/>
        <resource-file src="src/ios/images/color_F.png"/>
        <resource-file src="src/ios/images/color_G.png"/>
        <resource-file src="src/ios/images/color_H.png"/>
        <resource-file src="src/ios/images/color_I.png"/>
        <resource-file src="src/ios/images/color_L.png"/>
        <resource-file src="src/ios/images/color_M.png"/>
        <resource-file src="src/ios/images/conference_delete.png"/>
        <resource-file src="src/ios/images/conference_delete@2x.png"/>
        <resource-file src="src/ios/images/conference_exit_default.png"/>
        <resource-file src="src/ios/images/conference_exit_default@2x.png"/>
        <resource-file src="src/ios/images/conference_exit_over.png"/>
        <resource-file src="src/ios/images/conference_exit_over@2x.png"/>
        <resource-file src="src/ios/images/contact_add_default.png"/>
        <resource-file src="src/ios/images/contact_add_default@2x.png"/>
        <resource-file src="src/ios/images/contact_add_disabled.png"/>
        <resource-file src="src/ios/images/contact_add_disabled@2x.png"/>
        <resource-file src="src/ios/images/contacts_all_default.png"/>
        <resource-file src="src/ios/images/contacts_all_default@2x.png"/>
        <resource-file src="src/ios/images/contacts_all_disabled.png"/>
        <resource-file src="src/ios/images/contacts_all_disabled@2x.png"/>
        <resource-file src="src/ios/images/contacts_all_selected.png"/>
        <resource-file src="src/ios/images/contacts_all_selected@2x.png"/>
        <resource-file src="src/ios/images/contacts_sip_default.png"/>
        <resource-file src="src/ios/images/contacts_sip_default@2x.png"/>
        <resource-file src="src/ios/images/contacts_sip_selected.png"/>
        <resource-file src="src/ios/images/contacts_sip_selected@2x.png"/>
        <resource-file src="src/ios/images/delete_default.png"/>
        <resource-file src="src/ios/images/delete_default@2x.png"/>
        <resource-file src="src/ios/images/delete_disabled.png"/>
        <resource-file src="src/ios/images/delete_disabled@2x.png"/>
        <resource-file src="src/ios/images/delete_field_default.png"/>
        <resource-file src="src/ios/images/delete_field_default@2x.png"/>
        <resource-file src="src/ios/images/delete_field_over.png"/>
        <resource-file src="src/ios/images/delete_field_over@2x.png"/>
        <resource-file src="src/ios/images/delete_img.png"/>
        <resource-file src="src/ios/images/deselect_all.png"/>
        <resource-file src="src/ios/images/deselect_all@2x.png"/>
        <resource-file src="src/ios/images/dialer_alt_back.png"/>
        <resource-file src="src/ios/images/dialer_alt_back@2x.png"/>
        <resource-file src="src/ios/images/dialer_back_default.png"/>
        <resource-file src="src/ios/images/dialer_back_default@2x.png"/>
        <resource-file src="src/ios/images/dialer_back_disabled.png"/>
        <resource-file src="src/ios/images/dialer_back_disabled@2x.png"/>
        <resource-file src="src/ios/images/dialer_background.png"/>
        <resource-file src="src/ios/images/edit_default.png"/>
        <resource-file src="src/ios/images/edit_default@2x.png"/>
        <resource-file src="src/ios/images/edit_disabled.png"/>
        <resource-file src="src/ios/images/edit_disabled@2x.png"/>
        <resource-file src="src/ios/images/edit_list_default.png"/>
        <resource-file src="src/ios/images/edit_list_default@2x.png"/>
        <resource-file src="src/ios/images/edit_list_disabled.png"/>
        <resource-file src="src/ios/images/edit_list_disabled@2x.png"/>
        <resource-file src="src/ios/images/ephemeral_messages_color_A.png"/>
        <resource-file src="src/ios/images/ephemeral_messages_default.png"/>
        <resource-file src="src/ios/images/footer_chat_default.png"/>
        <resource-file src="src/ios/images/footer_chat_default@2x.png"/>
        <resource-file src="src/ios/images/footer_chat_disabled.png"/>
        <resource-file src="src/ios/images/footer_chat_disabled@2x.png"/>
        <resource-file src="src/ios/images/footer_contacts_default.png"/>
        <resource-file src="src/ios/images/footer_contacts_default@2x.png"/>
        <resource-file src="src/ios/images/footer_contacts_disabled.png"/>
        <resource-file src="src/ios/images/footer_contacts_disabled@2x.png"/>
        <resource-file src="src/ios/images/footer_dialer_default.png"/>
        <resource-file src="src/ios/images/footer_dialer_default@2x.png"/>
        <resource-file src="src/ios/images/footer_dialer_disabled.png"/>
        <resource-file src="src/ios/images/footer_dialer_disabled@2x.png"/>
        <resource-file src="src/ios/images/footer_history_default.png"/>
        <resource-file src="src/ios/images/footer_history_default@2x.png"/>
        <resource-file src="src/ios/images/footer_history_disabled.png"/>
        <resource-file src="src/ios/images/footer_history_disabled@2x.png"/>
        <resource-file src="src/ios/images/history_all_default.png"/>
        <resource-file src="src/ios/images/history_all_default@2x.png"/>
        <resource-file src="src/ios/images/history_all_disabled.png"/>
        <resource-file src="src/ios/images/history_all_disabled@2x.png"/>
        <resource-file src="src/ios/images/history_all_selected.png"/>
        <resource-file src="src/ios/images/history_all_selected@2x.png"/>
        <resource-file src="src/ios/images/history_chat_indicator.png"/>
        <resource-file src="src/ios/images/history_chat_indicator@2x.png"/>
        <resource-file src="src/ios/images/history_missed_default.png"/>
        <resource-file src="src/ios/images/history_missed_default@2x.png"/>
        <resource-file src="src/ios/images/history_missed_disabled.png"/>
        <resource-file src="src/ios/images/history_missed_disabled@2x.png"/>
        <resource-file src="src/ios/images/history_missed_selected.png"/>
        <resource-file src="src/ios/images/history_missed_selected@2x.png"/>
        <resource-file src="src/ios/images/invite_linphone.png"/>
        <resource-file src="src/ios/images/invite_linphone@2x.png"/>
        <resource-file src="src/ios/images/led_connected.png"/>
        <resource-file src="src/ios/images/led_connected@2x.png"/>
        <resource-file src="src/ios/images/led_disconnected.png"/>
        <resource-file src="src/ios/images/led_disconnected@2x.png"/>
        <resource-file src="src/ios/images/led_error.png"/>
        <resource-file src="src/ios/images/led_error@2x.png"/>
        <resource-file src="src/ios/images/led_inprogress.png"/>
        <resource-file src="src/ios/images/led_inprogress@2x.png"/>
        <resource-file src="src/ios/images/lime_ko.png"/>
        <resource-file src="src/ios/images/lime_ko@2x.png"/>
        <resource-file src="src/ios/images/linphone_logo.png"/>
        <resource-file src="src/ios/images/linphone_logo@2x.png"/>
        <resource-file src="src/ios/images/linphone_user.png"/>
        <resource-file src="src/ios/images/linphone_user@2x.png"/>
        <resource-file src="src/ios/images/linphone_user~ipad.png"/>
        <resource-file src="src/ios/images/linphone_user~ipad@2x.png"/>
        <resource-file src="src/ios/images/list_details_default.png"/>
        <resource-file src="src/ios/images/list_details_default@2x.png"/>
        <resource-file src="src/ios/images/list_details_over.png"/>
        <resource-file src="src/ios/images/list_details_over@2x.png"/>
        <resource-file src="src/ios/images/menu_about.png"/>
        <resource-file src="src/ios/images/menu_about@2x.png"/>
        <resource-file src="src/ios/images/menu_assistant.png"/>
        <resource-file src="src/ios/images/menu_assistant@2x.png"/>
        <resource-file src="src/ios/images/menu_link_account.png"/>
        <resource-file src="src/ios/images/menu_link_account@2x.png"/>
        <resource-file src="src/ios/images/menu_options.png"/>
        <resource-file src="src/ios/images/menu_options@2x.png"/>
        <resource-file src="src/ios/images/menu_recordings.png"/>
        <resource-file src="src/ios/images/menu_recordings@2x.png"/>
        <resource-file src="src/ios/images/menu_security_default.png"/>
        <resource-file src="src/ios/images/menu.png"/>
        <resource-file src="src/ios/images/menu@2x.png"/>
        <resource-file src="src/ios/images/micro_default.png"/>
        <resource-file src="src/ios/images/micro_default@2x.png"/>
        <resource-file src="src/ios/images/micro_disabled.png"/>
        <resource-file src="src/ios/images/micro_disabled@2x.png"/>
        <resource-file src="src/ios/images/micro_selected.png"/>
        <resource-file src="src/ios/images/micro_selected@2x.png"/>
        <resource-file src="src/ios/images/more_menu_default.png"/>
        <resource-file src="src/ios/images/next_default.png"/>
        <resource-file src="src/ios/images/next_default@2x.png"/>
        <resource-file src="src/ios/images/next_disabled.png"/>
        <resource-file src="src/ios/images/next_disabled@2x.png"/>
        <resource-file src="src/ios/images/nowebcamCIF.jpg"/>
        <resource-file src="src/ios/images/numpad_0_default.png"/>
        <resource-file src="src/ios/images/numpad_0_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_0_over.png"/>
        <resource-file src="src/ios/images/numpad_0_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_0_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_0_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_0~ipad.png"/>
        <resource-file src="src/ios/images/numpad_0~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_1_default.png"/>
        <resource-file src="src/ios/images/numpad_1_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_1_over.png"/>
        <resource-file src="src/ios/images/numpad_1_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_1_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_1_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_1~ipad.png"/>
        <resource-file src="src/ios/images/numpad_1~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_2_default.png"/>
        <resource-file src="src/ios/images/numpad_2_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_2_over.png"/>
        <resource-file src="src/ios/images/numpad_2_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_2_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_2_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_2~ipad.png"/>
        <resource-file src="src/ios/images/numpad_2~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_3_default.png"/>
        <resource-file src="src/ios/images/numpad_3_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_3_over.png"/>
        <resource-file src="src/ios/images/numpad_3_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_3_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_3_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_3~ipad.png"/>
        <resource-file src="src/ios/images/numpad_3~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_4_default.png"/>
        <resource-file src="src/ios/images/numpad_4_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_4_over.png"/>
        <resource-file src="src/ios/images/numpad_4_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_4_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_4_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_4~ipad.png"/>
        <resource-file src="src/ios/images/numpad_4~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_5_default.png"/>
        <resource-file src="src/ios/images/numpad_5_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_5_over.png"/>
        <resource-file src="src/ios/images/numpad_5_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_5_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_5_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_5~ipad.png"/>
        <resource-file src="src/ios/images/numpad_5~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_6_default.png"/>
        <resource-file src="src/ios/images/numpad_6_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_6_over.png"/>
        <resource-file src="src/ios/images/numpad_6_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_6_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_6_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_6~ipad.png"/>
        <resource-file src="src/ios/images/numpad_6~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_7_default.png"/>
        <resource-file src="src/ios/images/numpad_7_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_7_over.png"/>
        <resource-file src="src/ios/images/numpad_7_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_7_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_7_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_7~ipad.png"/>
        <resource-file src="src/ios/images/numpad_7~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_8_default.png"/>
        <resource-file src="src/ios/images/numpad_8_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_8_over.png"/>
        <resource-file src="src/ios/images/numpad_8_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_8_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_8_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_8~ipad.png"/>
        <resource-file src="src/ios/images/numpad_8~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_9_default.png"/>
        <resource-file src="src/ios/images/numpad_9_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_9_over.png"/>
        <resource-file src="src/ios/images/numpad_9_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_9_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_9_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_9~ipad.png"/>
        <resource-file src="src/ios/images/numpad_9~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_hash_default.png"/>
        <resource-file src="src/ios/images/numpad_hash_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_hash_over.png"/>
        <resource-file src="src/ios/images/numpad_hash_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_hash_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_hash_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_hash~ipad.png"/>
        <resource-file src="src/ios/images/numpad_hash~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_over_background.png"/>
        <resource-file src="src/ios/images/numpad_star_default.png"/>
        <resource-file src="src/ios/images/numpad_star_default@2x.png"/>
        <resource-file src="src/ios/images/numpad_star_over.png"/>
        <resource-file src="src/ios/images/numpad_star_over@2x.png"/>
        <resource-file src="src/ios/images/numpad_star_over~ipad.png"/>
        <resource-file src="src/ios/images/numpad_star_over~ipad@2x.png"/>
        <resource-file src="src/ios/images/numpad_star~ipad.png"/>
        <resource-file src="src/ios/images/numpad_star~ipad@2x.png"/>
        <resource-file src="src/ios/images/options_add_call_default.png"/>
        <resource-file src="src/ios/images/options_add_call_default@2x.png"/>
        <resource-file src="src/ios/images/options_add_call_disabled.png"/>
        <resource-file src="src/ios/images/options_add_call_disabled@2x.png"/>
        <resource-file src="src/ios/images/options_default.png"/>
        <resource-file src="src/ios/images/options_default@2x.png"/>
        <resource-file src="src/ios/images/options_disabled.png"/>
        <resource-file src="src/ios/images/options_disabled@2x.png"/>
        <resource-file src="src/ios/images/options_selected.png"/>
        <resource-file src="src/ios/images/options_selected@2x.png"/>
        <resource-file src="src/ios/images/options_start_conference_default.png"/>
        <resource-file src="src/ios/images/options_start_conference_default@2x.png"/>
        <resource-file src="src/ios/images/options_start_conference_disabled.png"/>
        <resource-file src="src/ios/images/options_start_conference_disabled@2x.png"/>
        <resource-file src="src/ios/images/options_transfer_call_default.png"/>
        <resource-file src="src/ios/images/options_transfer_call_default@2x.png"/>
        <resource-file src="src/ios/images/options_transfer_call_disabled.png"/>
        <resource-file src="src/ios/images/options_transfer_call_disabled@2x.png"/>
        <resource-file src="src/ios/images/pause_big_default.png"/>
        <resource-file src="src/ios/images/pause_big_default@2x.png"/>
        <resource-file src="src/ios/images/pause_big_disabled.png"/>
        <resource-file src="src/ios/images/pause_big_disabled@2x.png"/>
        <resource-file src="src/ios/images/pause_big_over_selected.png"/>
        <resource-file src="src/ios/images/pause_big_over_selected@2x.png"/>
        <resource-file src="src/ios/images/pause_small_default.png"/>
        <resource-file src="src/ios/images/pause_small_default@2x.png"/>
        <resource-file src="src/ios/images/pause_small_disabled.png"/>
        <resource-file src="src/ios/images/pause_small_disabled@2x.png"/>
        <resource-file src="src/ios/images/pause_small_over_selected.png"/>
        <resource-file src="src/ios/images/pause_small_over_selected@2x.png"/>
        <resource-file src="src/ios/images/presence_away.png"/>
        <resource-file src="src/ios/images/presence_away@2x.png"/>
        <resource-file src="src/ios/images/presence_offline.png"/>
        <resource-file src="src/ios/images/presence_offline@2x.png"/>
        <resource-file src="src/ios/images/presence_online.png"/>
        <resource-file src="src/ios/images/presence_online@2x.png"/>
        <resource-file src="src/ios/images/presence_unregistered.png"/>
        <resource-file src="src/ios/images/presence_unregistered@2x.png"/>
        <resource-file src="src/ios/images/rec_off_default.png"/>
        <resource-file src="src/ios/images/rec_off_default@2x.png"/>
        <resource-file src="src/ios/images/rec_on_default.png"/>
        <resource-file src="src/ios/images/rec_on_default@2x.png"/>
        <resource-file src="src/ios/images/recording.png"/>
        <resource-file src="src/ios/images/recording@2x.png"/>
        <resource-file src="src/ios/images/route_bluetooth_default.png"/>
        <resource-file src="src/ios/images/route_bluetooth_default@2x.png"/>
        <resource-file src="src/ios/images/route_bluetooth_disabled.png"/>
        <resource-file src="src/ios/images/route_bluetooth_disabled@2x.png"/>
        <resource-file src="src/ios/images/route_bluetooth_selected.png"/>
        <resource-file src="src/ios/images/route_bluetooth_selected@2x.png"/>
        <resource-file src="src/ios/images/route_earpiece_default.png"/>
        <resource-file src="src/ios/images/route_earpiece_default@2x.png"/>
        <resource-file src="src/ios/images/route_earpiece_disabled.png"/>
        <resource-file src="src/ios/images/route_earpiece_disabled@2x.png"/>
        <resource-file src="src/ios/images/route_earpiece_selected.png"/>
        <resource-file src="src/ios/images/route_earpiece_selected@2x.png"/>
        <resource-file src="src/ios/images/route_speaker_default.png"/>
        <resource-file src="src/ios/images/route_speaker_default@2x.png"/>
        <resource-file src="src/ios/images/route_speaker_disabled.png"/>
        <resource-file src="src/ios/images/route_speaker_disabled@2x.png"/>
        <resource-file src="src/ios/images/route_speaker_selected.png"/>
        <resource-file src="src/ios/images/route_speaker_selected@2x.png"/>
        <resource-file src="src/ios/images/routes_default.png"/>
        <resource-file src="src/ios/images/routes_default@2x.png"/>
        <resource-file src="src/ios/images/routes_disabled.png"/>
        <resource-file src="src/ios/images/routes_disabled@2x.png"/>
        <resource-file src="src/ios/images/routes_selected.png"/>
        <resource-file src="src/ios/images/routes_selected@2x.png"/>
        <resource-file src="src/ios/images/security_1_indicator.png"/>
        <resource-file src="src/ios/images/security_1_indicator@2x.png"/>
        <resource-file src="src/ios/images/security_2_indicator.png"/>
        <resource-file src="src/ios/images/security_2_indicator@2x.png"/>
        <resource-file src="src/ios/images/security_alert_indicator.png"/>
        <resource-file src="src/ios/images/security_alert_indicator@2x.png"/>
        <resource-file src="src/ios/images/security_ko.png"/>
        <resource-file src="src/ios/images/security_ko@2x.png"/>
        <resource-file src="src/ios/images/security_ok.png"/>
        <resource-file src="src/ios/images/security_ok@2x.png"/>
        <resource-file src="src/ios/images/security_pending.png"/>
        <resource-file src="src/ios/images/security_pending@2x.png"/>
        <resource-file src="src/ios/images/security_toogle_background_green.png"/>
        <resource-file src="src/ios/images/security_toogle_background_green@2x.png"/>
        <resource-file src="src/ios/images/security_toogle_background_grey.png"/>
        <resource-file src="src/ios/images/security_toogle_background_grey@2x.png"/>
        <resource-file src="src/ios/images/security_toogle_button.png"/>
        <resource-file src="src/ios/images/security_toogle_button@2x.png"/>
        <resource-file src="src/ios/images/security_toogle_icon_green.png"/>
        <resource-file src="src/ios/images/security_toogle_icon_green@2x.png"/>
        <resource-file src="src/ios/images/security_toogle_icon_grey.png"/>
        <resource-file src="src/ios/images/security_toogle_icon_grey@2x.png"/>
        <resource-file src="src/ios/images/select_all_default.png"/>
        <resource-file src="src/ios/images/select_all_default@2x.png"/>
        <resource-file src="src/ios/images/select_all_disabled.png"/>
        <resource-file src="src/ios/images/select_all_disabled@2x.png"/>
        <resource-file src="src/ios/images/speaker_default.png"/>
        <resource-file src="src/ios/images/speaker_default@2x.png"/>
        <resource-file src="src/ios/images/speaker_disabled.png"/>
        <resource-file src="src/ios/images/speaker_disabled@2x.png"/>
        <resource-file src="src/ios/images/speaker_selected.png"/>
        <resource-file src="src/ios/images/speaker_selected@2x.png"/>
        <resource-file src="src/ios/images/splashscreen.png"/>
        <resource-file src="src/ios/images/splashscreen@2x.png"/>
        <resource-file src="src/ios/images/valid_default.png"/>
        <resource-file src="src/ios/images/valid_default@2x.png"/>
        <resource-file src="src/ios/images/valid_disabled.png"/>
        <resource-file src="src/ios/images/valid_disabled@2x.png"/>
        <resource-file src="src/ios/images/voicemail.png"/>
        <resource-file src="src/ios/images/voicemail@2x.png"/>
        <resource-file src="src/ios/images/waiting_time.png"/>
        <resource-file src="src/ios/images/waiting_time@2x.png"/>

    </platform>

</plugin>
